.venv

.env
.env.local
.env.*.local

node_modules
dist
build
coverage

*.log
*.tsbuildinfo
.idea
.vscode
.DS_Store

*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.jks
*.p12
*.bak
*.tmp
*.swp

# ignore ADK specific files
.adk
